<%= form_with url: '/test', method: 'post' do |f|%>
  <div>
    <%= f.label_tag :NameField, :Name %>
    <%= f.text_field :name, id: :NameField%>
  </div>
  <div>
    <%= f.label_tag :TextField, :Text %>
    <%= f.text_area :name, id: :TextField%>
  </div>
<% end %>

